<!--include header-->
<%- include('include/_header')%>
<!--/include header-->

<!--main site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i>All users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">update user</h2>
            <span class="text-light">use the below form to update an new account</span>
        </div>

        <!--add user form-->
                <!--form handling-->

                <form method="POST" id="update_user">
                    <div class="new_user">
                        <div class="form-group">
                            <label for="name" class="text-light">NAME</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="name" value="" placeholder="mark stoenis">
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-light">email</label>
                            <input type="text" name="email" value="" placeholder="example@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="gender" class="text-light">gender</label>
                            <div class="radio inline">
                                <input type="radio" id="radio-2" name="gender" value="male">
                                <label for="radio-2" class="radio-label">male</label>
                            </div>
                            <div class="radio inline">
                                <input type="radio" id="radio-3" name="gender" value="female">
                                <label for="radio-3" class="text-light">female</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="text-light">Status</label>
                            <div class="radio inline">
                                <input type="radio" id="radio-4" name="Status" value="active">
                                <label for="radio-4" class="radio-label">active</label>
                            </div>
                            <div class="radio inline">
                                <input type="radio" id="radio-5" name="status" value="inactive">
                                <label for="radio-5" class="radio-label">inactive</label>
                            </div>
                            <div class="form-group">
                                <label for="MObile No." class="text-light">Mobile No.</label>
                                <input type="text" name="Mobile No." value="" placeholder="+91..........">
                            </div>
                            <div class="form-group">
                                <label for="Parents Name" class="text-light">Parents Name</label>
                                <input type="text" name="Name" value="" placeholder="eg: tom">
                            </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">save</button>
                    </div>
        
                   
                </form>


    </div>
</main>
<!--/main site-->

<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->